/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../I.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Supaya tidak terbelah saat scroll */
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    max-width: 900px;
    width: 90%;
    height: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 80px; /* Menghindari overlap dengan navbar */
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group label {
    font-weight: bold;
    color: white;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
}

.btn-primary {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
