* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.30);
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    color: #000000;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    border: 2px solid #000000;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

td {
    background-color: #f9f9f9;
}

button.btn {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-size: 16px;
}

button.btn:hover {
    background-color: #0056b3;
    border-color: #004085;
}
